@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased bg-black text-white;
}

.btn {
  @apply px-4 py-2 rounded-lg font-medium transition-colors;
}

.btn-primary {
  @apply bg-[#f89643] text-black hover:bg-[#f89643]/90;
}

.btn-secondary {
  @apply bg-[#f89643] text-black hover:bg-[#f89643]/90;
}

.btn-danger {
  @apply bg-red-600 text-white hover:bg-red-700;
}

.input {
  @apply w-full px-4 py-2 bg-black border border-gray-700 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-[#f89643] placeholder-gray-500;
}

.card {
  @apply bg-[#f89643] rounded-lg shadow-sm text-black;
}
